<%
banner_raw = @items["/_data/banner.yaml"][:description]
%>
<% if show_banner? and !stable_version?(current_branch) %>
<div class="d-lg-block">
  <div class="admonition-wrapper note d-none" id="banner-close">
    <div class="admonition alert alert-banner alert-dismissible fade show text-center" role="alert">
      <div class="d-flex justify-content-center align-items-center">
        <i class="fa fa-gitlab fa-fw" style="color:rgb(225,67,41); font-size:.85em" aria-hidden="true"></i>
        <%= markdown(banner_raw) %>
        <i class="fa fa-gitlab fa-fw" style="color:rgb(225,67,41); font-size:.85em" aria-hidden="true"></i>
        <button type="button" class="close mt-n1" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
  <script type="application/javascript" src="<%= @items['/assets/javascripts/banner.*'].path %>"></script>
</div>
<% end %>
